$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color: #f6f6f6;
$heart-color: linear-gradient(to top, $secondary-color, $primary-color);
$dark-background-color: darken($background-color, 5%);
$font-color: black;
