$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color: #f6f6f6;
$heart-color: linear-gradient(to top, $secondary-color, $primary-color);
$dark-background-color: darken($background-color, 5%);

* {
    box-sizing: border-box;
    text-decoration: none;
}

header,
main,
footer {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: x-large;
    font-weight: 800;
}

.loader {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: apparition 2s forwards;
    &--element {
        position: absolute;
        left: 50%;
        top: 50%;
        color: #9356dc;
        font-size: 11px;
        background: #9356dc;
        animation: escaleY 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
        animation-delay: -0.16s;
    }
}
.loader--element:before,
.loader--element:after {
    content: "";
    position: absolute;
    top: 0;
    left: 2em;
    color: #99e2d0;
    background: #99e2d0;
    width: 1em;
    height: 4em;
    animation: escaleY 1s infinite ease-in-out;
}
.loader--element:before {
    left: -2em;
    animation-delay: -0.32s;
}

@keyframes escaleY {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 3em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 4em;
    }
}

@keyframes apparition {
    0%,
    70% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

header {
    width: 100%;
    text-align: center;
    padding: 20px 0 10px 0;
    & img {
        width: 10rem;
    }
}

.localisation {
    width: 100%;
    text-align: center;
    color: lighten(black, 10%);
    background-color: $dark-background-color;
    box-shadow: inset 0px 2px 5px darken($dark-background-color, 10%);
    & p {
        margin: 0;
        padding: 15px 0;
        font-weight: 500;
    }
    & i {
        margin-right: 15px;
    }
}

.description {
    width: 100%;
    text-align: center;
    background-color: $background-color;
    & h1 {
        margin: 0;
        padding: 40px 20px 0 20px;
    }
    & p {
        font-size: large;
        font-weight: 300;
        padding: 0 20px;
    }
    &__button {
        color: white;
        display: inline-block;
        padding: 15px 20px;
        margin: 20px 0 50px 0;
        border-radius: 50px;
        background: linear-gradient(
            to bottom right,
            $secondary-color,
            $primary-color
        );
        box-shadow: 2px 5px 10px darken($dark-background-color, 15%);
        &:hover {
            box-shadow: 2px 5px 10px darken($dark-background-color, 40%);
            opacity: 0.9;
            transition: 0.1s;
        }
    }
}

.fonctionnement {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 60px;
    & h1 {
        padding: 30px 0 0 20px;
    }
    &__btn {
        white-space: nowrap;
        display: flex;
        background-color: $background-color;
        padding: 30px;
        margin: 12px 25px;
        align-items: center;
        border-radius: 20px;
        box-shadow: 2px 5px 10px darken($dark-background-color, 5%);
        cursor: pointer;
        &:hover {
            background-color: lighten($primary-color, 35%);
            box-shadow: 2px 5px 10px darken($dark-background-color, 20%);
            transition: 0.1s;
        }
        &:hover i {
            color: $primary-color;
        }
    }
    &__btn--ordre {
        position: absolute;
        margin-left: -40px;
        width: 23px;
        height: 23px;
        color: white;
        font-size: smaller;
        background-color: $primary-color;
        border: unset;
        border-radius: 50px;
    }
    &__btn i {
        color: darken($background-color, 50%);
        font-size: large;
        margin: 0 auto;
    }
    &__btn span {
        font-family: "Roboto", sans-serif;
        color: lighten(black, 10%);
        font-weight: 550;
        font-size: initial;
        display: inline-block;
        width: 230px;
        padding-left: 20px;
    }
}

.restaurants {
    background-color: $background-color;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    row-gap: 20px;
    padding-bottom: 60px;
    & h1 {
        padding: 30px 0 0 20px;
    }
    &__card {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        margin: 0 25px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 2px 5px 10px darken($dark-background-color, 5%);
        &:hover {
            box-shadow: 2px 5px 10px darken($dark-background-color, 40%);
            opacity: 0.9;
            transition: 0.2s;
        }
    }
    &__card--img {
        max-height: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    &__card--img--nouveau {
        position: absolute;
        right: 13px;
        background-color: $tertiary-color;
        color: #008766;
        font-size: small;
        font-weight: 500;
        padding: 8px 12px 5px 12px;
        border-radius: 2px;
    }
    &__card--legende {
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__card--legende--texte {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        & h3 {
            margin-bottom: 0px;
        }
        & p {
            margin-top: 5px;
        }
    }
    &__card--legende--heart::before {
        background: $heart-color;
        margin-right: 12px;
        font-size: x-large;
        background-clip: text;
        content: "\f004";
        font-family: "Font Awesome 6 Free";
        font-style: normal;
        font-weight: 500;
        transition: color 200ms;
    }
    &__card--legende--heart:hover::before {
        font-weight: 600;
        color: transparent;
    }
}

footer {
    display: flex;
    padding-left: 25px;
    padding-bottom: 35px;
    flex-direction: column;
    background-color: darken($background-color, 75%);
    color: white;
    row-gap: 10px;
    & h4 {
        font-family: "Shrikhand", cursive;
        font-size: 1.2rem;
        font-weight: 400;
    }
    & a {
        color: white;
        font-weight: 400;
        font-size: medium;
        & i {
            max-width: 25px;
            padding-right: 20px;
            font-size: small;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    & .footer__fin {
        font-weight: 300;
    }
}

@media screen and (min-width: 768px) {
    body {
        max-width: 768px;
        margin: 0 auto;
    }
    .localisation {
        border-radius: 20px 20px 0 0;
        box-shadow: inset 0px 2px 5px darken($dark-background-color, 10%),
            2px 5px 10px darken($dark-background-color, 5%);
        transition: 0.4s;
    }
    .description {
        border-radius: 0 0 20px 20px;
        box-shadow: 2px 5px 10px darken($dark-background-color, 5%);
        transition: 0.4s;
    }
    .restaurants {
        margin: 0 auto;
        flex-flow: row wrap;
        border-radius: 20px 20px 0 0;
        box-shadow: 2px 5px 10px darken($dark-background-color, 5%);
        row-gap: 40px;
        & h1 {
            width: 100%;
        }
        &__card {
            width: 40%;
            margin: 0 auto;
        }
        &__card--img {
            max-width: 100%;
            max-height: 150px;
        }
        transition: 0.2s;
    }
}
